@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer L

<div class="subtop-bn b13">
    <div class='container container-fixed-lg sm-p-l-0 sm-p-r-0'>
        <div class='inner'>
            <ol class='breadcrumb'>
                <li class='breadcrumb-item depth-1'><a href='/'><i class='fas fa-home-lg-alt text-white'></i></a></li>
                <li class='breadcrumb-item depth-2 '>SERVICES</li>
                <li class='breadcrumb-item depth-3'>@L["케이옥션 주얼리"]</li>
            </ol>
        </div>
    </div>
    <div class="container subtop">
        <div class="subtop-desc">
            <h1>K Auction & Jewelry</h1>
        </div>
    </div>
</div>

<div class="container m-b-50 p-b-50 bg-white">
    <div class="row">
        <div class="col-sm-12 cl-tit">
            <h2>@L["케이옥션앤주얼리란?"]</h2>
            <p>
                @L["2018년 12월, 국내 대표 경매회사 케이옥션이 주얼리 경매를 시작했습니다."]<br>
                @L["케이옥션 주얼리 경매는 차별화된 경매 노하우와 주얼리 업계의 우수한 전문 인력으로 운영되는 합리적인 신개념 주얼리 거래 플랫폼입니다."]<br>
                @L["자연과 인간이 함께 빚어 낸 아름다운 결과물이라 불리는 천연의 다이아몬드를 비롯한 다양한 주얼리들을 케이옥션에서 만나보시기 바랍니다."]
            </p>
        </div>
    </div>
    <ul class="jew-list">
        <li>
            <div class="jew-img">
                <img src="/img/services/k-jewelry01.jpg" alt="...">
            </div>
            <div>
                <h6>@L["합리적인 거래 플랫폼"]</h6>
                <p>
                    @L["믿을 수 있는 경매회사, 케이옥션의 주얼리 경매입니다."]<br />
                    @L["경매를 통한 공정한 경쟁으로 판매가치를 높이고, 객관적이고 합리적인 가격으로 구매가 가능합니다."]
                </p>
            </div>
        </li>
        <li>
            <div class="jew-img">
                <img src="/img/services/k-jewelry02.jpg" alt="...">
            </div>
            <div>
                <h6>@L["보석 전문 상담"]</h6>
                <p>
                    @L["최고의 보석전문가를 통한 정확한 감정과 객관적 가치평가가 가능합니다."]
                </p>
            </div>
        </li>
        <li>
            <div class="jew-img">
                <img src="/img/services/k-jewelry03.jpg" alt="...">
            </div>
            <div>
                <h6>@L["부가 서비스"]</h6>
                <p>
                    @L["경매 및 상설판매로 구매한 제품에 AS(수리)가 발생시, 케이옥션 명품팀에서 편안하게 서비스를 받을 수 있습니다.(유상 또는 무상)"]
                </p>
            </div>
        </li>
    </ul>
    <div class="jew-bot">
        <div>
            <h5>@L["주얼리 위탁하기"]</h5>
            <div>
                <p>
                    @L["케이옥션은 우수하며 장인정신이 깃든 주얼리와 가치가 뛰어난 파인 주얼리를 주로 위탁 받고 있습니다."]
                    <br>
                    <br>
                    @L["* 파인 주얼리란?"]
                    @L["주로 18K Gold, Platinum과 천연 다이아몬드, 루비, 사파이어, 에머럴드 등의 보석이 셋팅 된 주얼리를 뜻합니다. 보유하신 주얼리가 있다면 케이옥션에서 상담 가능합니다."]
                </p>
            </div>
        </div>
        <div>
            <h5>@L["명품 위탁하기"]</h5>
            <div>
                <p>
                    @L["케이옥션은 명품 주얼리, 시계, 가방을 위탁 받고 있습니다."]
                    @L["위탁이 가능한 주얼리 브랜드는 샤넬, 까르띠에를 비롯한 모든 하이엔드 브랜드 입니다."]
                    @L["명품 시계는 롤렉스, 파텍필립, 오데마 피게, 로저드뷔 까르띠에, 브레게, 피아제, 블랑팡 등입니다."]
                    @L["가방의 경우 주로 에르메스를 위탁 받습니다."]
                </p>
            </div>
            <div class="jew-inq">
                <strong>@L["문의"]</strong>
                <span><a href="mailto:info@k-auction.com">info@k-auction.com</a></span>
            </div>
        </div>
    </div>
</div>