
<section id="list-section">
    <!-- 상단 영역 -->
    <div class="">
        <div class="container subtop">
            <table>
                <tr>
                    <th>UID</th>
                    <td>@LoginInfo.Uid</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>@LoginInfo.Email</td>
                </tr>
                <tr>
                    <th>ID</th>
                    <td>@LoginInfo.ID</td>
                </tr>
                <tr>
                    <th>이름</th>
                    <td>@LoginInfo.Name</td>
                </tr>
                <tr>
                    <th>생년월일</th>
                    <td>@LoginInfo.BirthDate</td>
                </tr>
                <tr>
                    <th>승인</th>
                    <td>@LoginInfo.ManagerApproval</td>
                </tr>
                <tr>
                    <th>유형</th>
                    <td>@LoginInfo.Type</td>
                </tr>
                <tr>
                    <th>동의약관</th>
                    <td>@LoginInfo.EssentialClause</td>
                </tr>
                <tr>
                    <th>개인약관</th>
                    <td>@LoginInfo.PrivateClause</td>
                </tr>
                <tr>
                    <th>약관 동의 일자</th>
                    <td>@LoginInfo.ClauseDate</td>
                </tr>
                <tr>
                    <th>담당자 고유번호</th>
                    <td>@LoginInfo.MngUid</td>
                </tr>
                <tr>
                    <th>담당자 이름</th>
                    <td>@LoginInfo.MngName</td>
                </tr>
                <tr>
                    <th>담당자 이메일</th>
                    <td>@LoginInfo.MngEmail</td>
                </tr>
                <tr>
                    <th>휴대폰</th>
                    <td>@LoginInfo.Mobile</td>
                </tr>
                <tr>
                    <th>Admin</th>
                    <td>@LoginInfo.AdminYN</td>
                </tr>
                <tr>
                    <th>Manager</th>
                    <td>@LoginInfo.ManagerYN</td>
                </tr>
                <tr>
                    <th>MngTeam</th>
                    <td>@LoginInfo.MngTeamEmail</td>
                </tr>
                <tr>
                    <th>응찰가능여부</th>
                    <td>@LoginInfo.BidAllowYN (@LoginInfo.BidAllowYN.Equals("Y").ToString())</td>
                </tr>
            </table>
        </div>
    </div>
</section>
