@using Microsoft.AspNetCore.Mvc.Localization
@inject KA.Web.Public.Services.CommonService commonService
@inject IViewLocalizer L

<div class="subtop-bn b14">
    <div class='container container-fixed-lg sm-p-l-0 sm-p-r-0'>
        <div class='inner'>
            <ol class='breadcrumb'>
                <li class='breadcrumb-item depth-1'><a href='/'><i class='fas fa-home-lg-alt text-white'></i></a></li>
                <li class='breadcrumb-item depth-2 '>How To</li>
                <li class='breadcrumb-item depth-3'>@L["위탁 안내"]</li>
            </ol>
        </div>
    </div>
    <div class="container subtop">
        <div class="subtop-desc">
            <h1>@L["위탁 안내"]</h1>
            <p>@L["소장중인 작품의 가치를 케이옥션을 통해 확인하세요."]</p>
            <div class="subtop-btn">
                @if (!commonService.IsLogin)
                {
                    <a href="javascript:$.commonUtils.openLogin('@L["로그인 후 신청이 가능합니다."]');">
                        <span class="text-msg">@L["위탁문의 신청하기"]</span>
                    </a>
                } else {
                    <a href="/MyPage/ConsignRequest">
                        <span class="text-msg">@L["위탁문의 신청하기"]</span>
                    </a>
                }
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div id="Howto">
        <div class="howtobtn">
            <ul>
                <li>
                    <a href="/HowTo/AuctionIntroduction">@L["경매 소개"]</a>
                    <div class="howto-subbtn">
                        <ul class="a1">
                            <li><a href="#">@L["라이브 경매"]</a></li>
                            <li><a href="#">@L["온라인 경매"]</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="/HowTo/BidGuide">@L["응찰 안내"]</a>
                    <div class="howto-subbtn">
                        <ul class="a2">
                            <li><a href="#">@L["회원 가입"]</a></li>
                            <li><a href="#">@L["프리뷰"]</a></li>
                            <li><a href="#">@L["응찰"]</a></li>
                            <li><a href="#">@L["낙찰 결과 확인 및 결제"]</a></li>
                            <li><a href="#">@L["배송, 설치 및 보관"]</a></li>
                        </ul>
                    </div>
                </li>
                <li class="active">
                    <a href="/HowTo/ConsignGuide">@L["위탁 안내"]</a>
                    <div class="howto-subbtn">
                        <ul class="a3">
                            <li class="active"><a href="#">Why K Auction?</a></li>
                            <li><a id="menu_consign" href="#">@L["위탁 절차"]</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="howto-desc">
            <div class="cos-guide">
                @if (Config.ConsignGuideYoutubeUrl != null && !string.IsNullOrWhiteSpace(Config.ConsignGuideYoutubeUrl))
                {
                    <div style="margin-bottom: 30px;" class="embed-responsive embed-responsive-16by9">
                        <iframe style="width: 100%; height: 100%;" src="@Config.ConsignGuideYoutubeUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                }
                <div class="cosguide-01">
                    <h2>Why K Auction?</h2>
                    <p>@L["소장하신 작품의 가치가 궁금하신가요? 대한민국 대표 미술품 경매 회사 케이옥션에서 작품 위탁을 도와드리겠습니다."]</p>
                    <div>
                        <div class="img">
                            <img src="/img/howto/cosguide01@1x.png" alt="hello" srcset="/img/howto/cosguide01@1x.png 1x,/img/howto/cosguide01@2x.png 2x,/img/howto/cosguide01@3x.png 3x">
                        </div>
                        <div class="cont">
                            <h3>@L["다양한 경매 플랫폼, 365일 경매 진행"]</h3>
                            <p>@L["경매 현장에서 라이브로 진행되는 메이저 경매, 온라인으로 진행되는 프리미엄 경매와 위클리 경매 등 365일 언제나 참여할 수 있는 다양한 경매 플랫폼이 구축되어 있습니다."]</p>
                        </div>
                    </div>
                    <div>
                        <div class="img">
                            <img src="/img/howto/@(commonService.IsKor() ? "cosguide02" : "cosguide02_en")@@1x.png" alt=""
                                 srcset="/img/howto/@(commonService.IsKor() ? "cosguide02" : "cosguide02_en")@@1x.png 1x,
                                        /img/howto/@(commonService.IsKor() ? "cosguide02" : "cosguide02_en")@@2x.png 2x,
                                        /img/howto/@(commonService.IsKor() ? "cosguide02" : "cosguide02_en")@@3x.png 3x">
                        </div>
                        <div class="cont">
                            <h3>@L["차별화된 서비스 제공"]</h3>
                            <p>
                                @L["케이옥션은 2005년 설립된 후, 수많은 경매를 통해 축적된 노하우를 바탕으로 엄선한 작품들이 제 가치를 인정받도록 항상 노력하고 있습니다."]
                                <br>
                                @L["각 분야 전문가들이 모여 최적화된 경매 시스템을 구축하고 있으며, 전문성을 가진 국내 최고 스페셜리스트들이 고객들의 요구에 따라 작품 판매와 위탁 컨설팅을 제공합니다."]
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="img">
                            <img src="/img/howto/@(commonService.IsKor() ? "cosguide03" : "cosguide03_en")@@1x.png" alt=""
                                 srcset="/img/howto/@(commonService.IsKor() ? "cosguide03" : "cosguide03_en")@@1x.png 1x,
                                        /img/howto/@(commonService.IsKor() ? "cosguide03" : "cosguide03_en")@@2x.png 2x,
                                        /img/howto/@(commonService.IsKor() ? "cosguide03" : "cosguide03_en")@@3x.png 3x">
                        </div>
                        <div class="cont">
                            <h3>@L["프리뷰 전시와 다양한 홍보 마케팅"]</h3>
                            <p>@L["케이옥션에는 경매 출품작을 미리 확인할 수 있는 프리뷰가 항상 열리고 있습니다. 또 케이옥션 홈페이지와 모바일 앱을 통해서도 출품작에 대한 정보가 제공되며, 블로그, 인스타그램, 카카오톡 채널, 페이스북 등 여러 SNS 채널을 활용해 콘텐츠를 소개하고 있습니다. 이 밖에 다양한 브랜드와 협업, 문화행사나 이벤트 경매를 열어 문화예술 분야의 지평을 넓혀가고 있습니다."]</p>
                        </div>
                    </div>
                    <div class="cosguide-result">
                        <p>@L["괄목할만한 경매 결과"]</p>
                        <div>
                            <div class="cos-result">
                                <h2>@L["국내 최고가 신기록 경신"]</h2>
                                <ul>
                                    <li>
                                        <div class="img">
                                            <img src="/img/howto/bidresult01.png" alt=">@L["54억원 낙찰"]/@L["김환기<br>고요 5-IV-73 #310"]/@L["2016년 6월 경매"]">
                                        </div>

                                        <strong class="price">@L["낙찰가 65억 5천만원"]</strong>
                                        <p class="info">@L["김환기<br>고요 5-IV-73 #310"]</p>
                                        <p class="date">@L["2017년 4월 경매"]</p>
                                    </li>
                                    <li>
                                        <div class="img">
                                            <img src="/img/howto/bidresult02.png" alt="@L["64억 4천만원 낙찰"]/@L["김환기<br>무제 27-VII-72 #288"]/@L["2017년 4월 경매"]">
                                        </div>
                                        <strong class="price">@L["낙찰가 54억원"]</strong>
                                        <p class="info">@L["김환기<br>무제 27-VII-72 #288"]</p>
                                        <p class="date">@L["2016년 6월 경매"]</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="cos-result">
                                <h2>@L["작가 별 희귀작품이 경합을 통해 높은 가격에 낙찰"]</h2>
                                <ul>
                                    <li>
                                        <div class="img">
                                            <img src="/img/howto/bidresult03.png" alt="@L["15억 2천만원 낙찰"]/@L["이우환<br>점으로부터 No.770110"]/@L["2020년 7월 경매"]">
                                        </div>
                                        <strong class="price">@L["낙찰가 15억 2천만원"]</strong>
                                        <p class="info">@L["이우환<br>점으로부터 No.770110"]</p>
                                        <p class="date">@L["2020년 7월 경매"]</p>
                                    </li>
                                    <li>
                                        <div class="img">
                                            <img src="/img/howto/bidresult04.png" alt="@L["18억 5천만원 낙찰"]/@L["하종현<br>탄생-B"]/@L["2020년 9월 경매"]">
                                        </div>
                                        <strong class="price">@L["낙찰가 1억 8500만원"]</strong>
                                        <p class="info">@L["하종현<br>탄생-B"]</p>
                                        <p class="date">@L["2020년 9월 경매"]</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cosguide-02">
                    <h2>@L["위탁절차"]</h2>
                    <div class="cosproce-btn">
                        <ul>
                            <li class="active">
                                <strong>Step.1</strong>
                                <p>@L["작품 문의"]</p>
                            </li>
                            <li>
                                <strong>Step.2</strong>
                                <p>@L["위탁 상담 및 출고"]</p>
                            </li>
                            <li>
                                <strong>Step.3</strong>
                                <p>@L["출품 및 전시"]</p>
                            </li>
                            <li>
                                <strong>Step.4</strong>
                                <p>@L["대금 정산"]</p>
                            </li>
                        </ul>
                    </div>
                    <div class="cosproce-desc">
                        <div class="desc01">
                            <p>
                                @L["소장하고 계신 있는 근현대 미술품, 해외 작품, 고서화, 목기, 민속품, 공예품, 쥬얼리, 악기, 그 외의 각종 희귀자료나 물품 등의 경매 출품 가능 여부와 대략적인 가격에 대한 <span>상담을 원하시면 아래의 절차대로 진행해 주세요.</span>"]
                            </p>
                            <div class="desc01-sub">
                                <div>
                                    <h6>@L["01. 홈페이지"]</h6>
                                    <p>
                                        @L["케이옥션 홈페이지의 위탁신청방법 페이지 하단의 <span>위탁 문의</span> 버튼을 클릭해 주세요."]
                                    </p>
                                </div>
                                <div>
                                    <h6>@L["02. 이메일"]</h6>
                                    <p>
                                        @L["<span>art@k-auction.com</span>으로 아래 항목을 포함하여 문의주세요."]
                                    </p>
                                    <p>
                                        @L["- 메일 제목에 ‘작품위탁’과 성명 기입 ※ 예시) 작품위탁_홍길동"]
                                    </p>
                                    <p>
                                        @L["- 내용은 의뢰인의 <span>성명, 연락처, 작가 이름, 작품 제목, 사이즈/재료/제작연도, 소장 경위, 작품 사진</span> (전체 이미지, 서명 등 중요 부분 이미지)을 포함"]
                                    </p>
                                </div>
                            </div>
                            <div class="bot-desc">
                                <ul>
                                    <li>
                                        <div>
                                            <span>•</span>
                                        </div>
                                        <p>@L["접수된 문의 내역은 분야별 스페셜리스트들의 내부 심사를 거친 후, 접수일로부터 7일 이내 담당자를 통해 개별적으로 연락을 드립니다."]</p>
                                    </li>
                                    <li>
                                        <div>
                                            <span>•</span>
                                        </div>
                                        <p>@L["소장하고 계신 물품에 관하여 판매 제한 사유(리세일 금지 약정 등)가 있는지 위탁 문의/신청 전에 확인 부탁드립니다. 고객님께서 물품을 위탁하시는 경우, 해당 물품에 관하여 제한 없이 소유권을 이전할 수 있다는 점을 스스로 진술/보증할 의무가 있습니다."]</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="cos-inquire-btn">
                                <a href="javascript:$.loginUtils.redirectCheck('/MyPage/ConsignRequest', '@L["위탁 문의는 로그인이 필요합니다."]');">@L["위탁문의"]</a>
                            </div>
                        </div>
                        <div class="desc02">
                            <p>@L["출품이 가능한 경우, 아래와 같은 절차로 위탁이 진행됩니다."]</p>
                            <div class="desc02-sub">
                                <div>
                                    <div class="desc02-icon">
                                        <img src="/img/howto/icons/desc02-icon@1x.png" alt="담당자 배정 아이콘" srcset="/img/howto/icons/desc02-icon@1x.png 1x,/img/howto/icons/desc02-icon@2x.png 2x,/img/howto/icons/desc02-icon@3x.png 3x">
                                        <p>@L["01. 담당자 배정"]</p>
                                    </div>
                                    <img src="/img/howto/icons/desc02arrow-ico@1x.png" alt="화살표" srcset="/img/howto/icons/desc02arrow-ico@1x.png 1x,/img/howto/icons/desc02arrow-ico@2x.png 2x,/img/howto/icons/desc02arrow-ico@3x.png 3x">
                                </div>
                                <div>
                                    <div class="desc02-icon">
                                        <img src="/img/howto/icons/desc02-icon02@1x.png" alt="서면 심의 및 내부 감정 아이콘" srcset="/img/howto/icons/desc02-icon02@1x.png 1x,/img/howto/icons/desc02-icon02@2x.png 2x,/img/howto/icons/desc02-icon02@3x.png 3x">
                                        <p>@L["02. 서면 심의 및 내부 감정"]</p>
                                    </div>
                                    <img src="/img/howto/icons/desc02arrow-ico@1x.png" alt="화살표" srcset="/img/howto/icons/desc02arrow-ico@1x.png 1x,/img/howto/icons/desc02arrow-ico@2x.png 2x,/img/howto/icons/desc02arrow-ico@3x.png 3x">
                                </div>
                                <div>
                                    <div class="desc02-icon">
                                        <img src="/img/howto/icons/desc02-icon03@1x.png" alt="출품 희망가격 결정 아이콘" srcset="/img/howto/icons/desc02-icon03@1x.png 1x,/img/howto/icons/desc02-icon03@2x.png 2x,/img/howto/icons/desc02-icon03@3x.png 3x">
                                        <p>@L["03. 출품 희망가격 결정"]</p>
                                    </div>
                                    <img src="/img/howto/icons/desc02arrow-ico@1x.png" alt="화살표" srcset="/img/howto/icons/desc02arrow-ico@1x.png 1x,/img/howto/icons/desc02arrow-ico@2x.png 2x,/img/howto/icons/desc02arrow-ico@3x.png 3x">
                                </div>
                                <div>
                                    <div class="desc02-icon">
                                        <img src="/img/howto/icons/desc02-icon04@1x.png" alt="위탁계약서 작성 및 계약 아이콘" srcset="/img/howto/icons/desc02-icon04@1x.png 1x,/img/howto/icons/desc02-icon04@2x.png 2x,/img/howto/icons/desc02-icon04@3x.png 3x">
                                        <p>@L["04. 위탁계약서 작성 및 계약"]</p>
                                    </div>
                                </div>
                            </div>
                            <ul>
                                <li>
                                    <img src="/img/icons/bullet.png" alt="블릿기호">
                                    <p>@L["경매 불가 작품은 의뢰인에게 다시 보내드립니다. (운송비 의뢰인 부담, 방문 회수 시 제외)"]</p>
                                </li>
                                <li>
                                    <img src="/img/icons/bullet.png" alt="블릿기호">
                                    <p>@L["작품의 내정가는 의뢰자와 합의 하에 결정되며, 합의가 되지 않을 경우 출품되지 않습니다."]</p>
                                </li>
                            </ul>
                            <div class="cos-inquire-btn">
                                <a href="javascript:$.loginUtils.redirectCheck('/MyPage/ConsignRequest', '@L["위탁 문의는 로그인이 필요합니다."]');">@L["위탁문의"]</a>
                            </div>
                        </div>
                        <div class="desc03">
                            <P>
                                @L["위탁 절차가 끝난 작품은 적합한 경매에 출품되며, 경매 프리뷰 기간 동안 높은 가격에 판매될 수 있도록 전시와 다양한 홍보 활동이 이루어집니다."]
                            </P>
                            <div class="desc03-sub">
                                <ul>
                                    <li>
                                        <img src="/img/howto/icons/cos-offline@1x.png" alt="오프라인 전시 아이콘" srcset="/img/howto/icons/cos-offline@1x.png 1x,/img/howto/icons/cos-offline@2x.png 2x,/img/howto/icons/cos-offline@3x.png 3x">
                                        <h5>@L["오프라인 전시"]</h5>
                                        <p>@L["서울 신사동 케이옥션 전시장"]</p>
                                    </li>
                                    <li>
                                        <img src="/img/howto/icons/cos-online@1x.png" alt="온라인 전시 아이콘" srcset="/img/howto/icons/cos-online@1x.png 1x,/img/howto/icons/cos-online@2x.png 2x,/img/howto/icons/cos-online@3x.png 3x">
                                        <h5>@L["온라인 전시"]</h5>
                                        <p>@L["케이옥션 홈페이지<br>(모바일 지원)"]</p>
                                    </li>
                                    <li>
                                        <img src="/img/howto/icons/cos-channel@1x.png" alt="온라인 전시 아이콘" srcset="/img/howto/icons/cos-channel@1x.png 1x,/img/howto/icons/cos-channel@2x.png 2x,/img/howto/icons/cos-channel@3x.png 3x">
                                        <h5>@L["홍보 채널"]</h5>
                                        <p>@L["일간지 및 방송사, 케이옥션 블로그,<br>인스타그램, 카카오 채널, 페이스북 등 SNS 채널"]</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="cos-inquire-btn">
                                <a href="javascript:$.loginUtils.redirectCheck('/MyPage/ConsignRequest', '@L["위탁 문의는 로그인이 필요합니다."]');">@L["위탁문의"]</a>
                            </div>
                        </div>
                        <div class="desc04">
                            <div>
                                <h4><span></span>@L["위탁 대금"]</h4>
                                <p>@L["낙찰 결과는 경매 마감 후 위탁자에게 안내드리며, 위탁대금은 낙찰자의 낙찰금액 정산 후 위탁자에게 지급됩니다."]</p>
                                <div>
                                    <p>@L["<strong>위탁 대금 = 낙찰금액 - 위탁 수수료 - 기타 비용</strong> (발생할 경우)"]</p>
                                </div>
                            </div>
                            <div>
                                <ul>
                                    <li>
                                        <img src="/img/icons/bullet.png" alt="블릿기호">
                                        <P>@L["경매 불가 작품은 의뢰인에게 다시 보내드립니다. (운송비 의뢰인 부담, 방문 회수 시 제외)"]</P>
                                    </li>
                                    <li>
                                        <img src="/img/icons/bullet.png" alt="블릿기호">
                                        <p>@L["작품의 내정가는 의뢰자와 합의하에 결정되며, 합의가 되지 않을 경우 출품되지 않습니다."]</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="cos-inquire-btn">
                                <a href="javascript:$.loginUtils.redirectCheck('/MyPage/ConsignRequest', '@L["위탁 문의는 로그인이 필요합니다."]');">@L["위탁문의"]</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom"></div>
</div>
<script>

    const selectedMenu = "@ViewBag.SelectedMenu";

    const howtobtn = $(".howtobtn");
    const howtobtnOffset = howtobtn.offset().top;
    const howromargin2 = $('.howtobtn').height();
    const howromargin4 = $(".cosguide-01").outerHeight(true);

    $(window).ready(function () {
        if (selectedMenu !== "" && $("#menu_" + selectedMenu.toLowerCase()).length > 0) {
            $("#menu_" + selectedMenu.toLowerCase()).click();
        }
    });

    $(window).scroll(function () {
        const wScroll = $(this).scrollTop();

        if (wScroll >= a3contents.eq(0).offset().top * 0.7) {
            a3btn.removeClass("active");
            a3btn.eq(0).addClass("active");
        }
        if (wScroll >= a3contents.eq(1).offset().top * 0.94) {
            a3btn.removeClass("active");
            a3btn.eq(1).addClass("active");
        }

        if (matchMedia("screen and (min-width: 1275px)").matches) {
            if (wScroll > howtobtnOffset) {
                howtobtn.addClass("fixed");
                $(".howto-desc").addClass("fixed");
            } else {
                howtobtn.removeClass("fixed");
                $(".howto-desc").removeClass("fixed");
            }

            if (wScroll > $(".bottom").offset().top * 0.82) {
                howtobtn.removeClass("fixed");
                $(".howto-desc").removeClass("fixed");
                howtobtn.css("margin-top", howromargin4 - howromargin2 + 900 + "px");

            } else {
                howtobtn.css("margin-top", "0px");
            }
        } else {
            howtobtn.removeClass("fixed");
            $(".howto-desc").removeClass("fixed");
        }
    });

    $('.a1 > li').click(function () {
        document.location.href = $(this).parents().parents().prev().attr('href');
    });
    $('.a2 > li').click(function () {
        document.location.href = $(this).parents().parents().prev().attr('href');
    });

    $(".howtobtn > ul > li > div").hide();
    $(".howtobtn > ul > li").eq(2).find('div').show(500);

    $(window).resize(function () {
        if (matchMedia("screen and (max-width: 1275px)").matches) {
            $('.a1').css('display', 'none');
            $('.a2').css('display', 'none');
        } else {
            $('.a1').css('display', 'block');
            $('.a2').css('display', 'block');
        }
    });

    const a3btn = $('.a3 > li');
    const a3btn1 = $('.a3 > li:first-child');
    const a3btn2 = $('.a3 > li:last-child');
    const a3contents = $(".cos-guide > div");

    a3btn1.click(function (e) {
        e.preventDefalt;
        const a3sec1 = $(a3contents.eq(0));
        const a3secoffset1 = a3sec1.offset().top * 0.9;
        $("html, body").animate({ scrollTop: a3secoffset1 }, 800, "swing");
    });

    a3btn2.click(function (e) {
        e.preventDefalt;
        const a3sec2 = $(a3contents.eq(1));
        const a3secoffset2 = a3sec2.offset().top;
        $("html, body").animate({ scrollTop: a3secoffset2 }, 800, "swing");
    });

</script>
<script src="/js/ka.howto2.js"></script>